@font-face {
	font-family:"Hamdullah";
	src:url(fonts/hamdullah.ttf);
}
@font-face {
	font-family:"Lateef";
	src:url(fonts/lateef.ttf);
}
@font-face {
	font-family:"rb-icons";
	src:url(fonts/rb_icons.ttf);
}
.rb {
	font-family: 'rb-icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 1.2rem;
}
:root {
	--ac: black; /* arabic text color */
	--brs: 5px; /* border radius */
	--max-width: 768px; /* maximum width for container */
	--nsbc: gray; /* nav side background color */
	--nth: 42px; /* nav top height */
	--nav-top-bg-color: red;
	--set-bg-color: cornsilk; /* arabic background color */
	--set-color: red; /* color to change in settings */ /* SET IN JS */
	--set-font-family: 'Hamdullah'; /* arabic font family */ /* SET IN JS */
	--set-font-size: 28px; /* arabic font size */ /* SET IN JS */
	--theme-color: steelblue; /* application theme color */
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 16px;
	font-family: sans-serif;
	/*scroll-behavior: smooth;*/
}
.latin {
	font: 16px sans-serif;
	direction: ltr;
}
.latin ol li {
	list-style: decimal-leading-zero;
}
.latin li {
	list-style-position: inside;
	display: list-item !important;
	padding-bottom: 1rem;
}
.latin .vn {
	display: inline-block;
	width: 3rem;
	font-size: 1rem;
	text-align: right;
}
.latin h3 {
	color: var(--set-color);
	margin: 2rem;
	text-align: center;
}
.latin .arabic {
	padding: 1rem 0;
	text-align: right;
}
.dua {
	margin: 1rem;
	margin-bottom: 2rem;
}
.dua p {
	margin-bottom: 1rem;
	line-height: 2;
}
.small {
	font-size: .7rem;
}
.arabic ul {
	list-style: none;
	margin-bottom: 2rem;
}
.arabic li {
	display: inline;
}
.arabic li:last-child {
	display: block;
}
i {
	font-style: normal;
}
.btn {
	padding: 2px 6px;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: var(--brs);
	color: white;
	font-size: 1rem;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	outline: none;
}
.container {
	position: relative;
	width: 100%;
	height: 100%;
	max-width: var(--max-width);
	margin: 0 auto;
}
.arabic {
	/*text-align: justify;*/
	font-family: var(--set-font-family);
	/*font-weight: 400;*/
	font-size: var(--set-font-size);
	background-color: var(--set-bg-color);
	color: var(--ac);
	direction: rtl;
	padding: var(--nth) 5px;
}
#nav_top {
	position: fixed;
	display: flex;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	max-height: var(--nth);
	max-width: var(--max-width);
	margin: 0 auto;
	padding: 10px;
	background-color: var(--set-color);
	color: white;
	border-bottom: 3px solid var(--set-bg-color);
	z-index: 1;
}
.nav_top_btn {
	color: white;
	cursor: pointer;
	z-index: 100;
}
.basmala {
	font-family: var(--set-font-family);
	font-size: var(--set-font-size);
	color: var(--ac);
	margin-bottom: 2rem;
	margin-right: 3rem;
}
#nav_left, #nav_right {
	position: fixed;
	top: var(--nth);
	width: 75%;
	max-width: 400px;
	height: 100vh;
	margin: 0;
	padding: 3rem 1rem;
	background-color: var(--nsbc);
	font-size: 1rem;
	color: white;
	opacity: 1;
	z-index: 100;
	transition: .5s;
}
#nav_left {
	left: -75%;
	border-top-right-radius: var(--brs);
}
#nav_right {
	right: -75%;
	border-top-left-radius: var(--brs);
}
#nav_left.open {
	left: 0;
}
#nav_right.open {
	right: 0;
}
.close_btn {
	position: absolute;
	top: 10px;
	cursor: pointer;
	color: lightgray;
}
.close_btn.right {
	right: 10px;
}
.close_btn.left {
	left: 10px;
}
.close_btn:hover {
	color: white;
}
.text_right {
	text-align: right;
}
.text_center {
	text-align: center;
}
.settings {
	height: 100%;
	display: flex;
	flex-direction: column;
}
.settings .row {
	display: grid;
	grid-template-columns: 30% 65%;
	grid-gap: 5px;
	margin-bottom: 1rem;
}
.settings input,
.settings select {
	width: 100%;
	height: 2rem;
	padding: 5px;
	border-image: none;
	border-radius: var(--brs);
	font-size: 1rem;
	outline: none;
}
#settings_header {
	margin-bottom: 1rem;
	padding: .5rem 1rem;
	border-bottom: 1px solid rgba(200, 200, 200, .5);
	text-align: center;
	font-size: 1.2rem;
}
#dua_list_container {
	padding: 5px;
	overflow-y: auto;
	border: 1px solid rgba(200, 200, 200, .5);
}
#dua_list li {
	margin-bottom: 1rem;
	cursor: pointer;
}
.goto_paragraph_container {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-gap: 5px;
	align-items: center;
}
.btn_nav {
	height: 2rem;
	color: white;
	border: 1px solid white;
	border-radius: var(--brs);
	cursor: pointer;
	user-select: none;
	outline: none;
}
.btn_nav:hover {
	color: var(--set-color);
	background-color: white;
}
.hidden {
	visibility: hidden;
}
.visible {
	visibility: visible;
}
/* Bookmark*/
#bookmark {
	padding: 2px 6px;
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: var(--brs);
	cursor: pointer;
}
#bookmark:hover {
	color: var(--set-color);
	background-color: white;
}
#bookmark_icon {
	margin-right: 1rem;
	cursor: pointer;
}
.sn {
	margin-top: 1rem;
	padding: 1rem;
	font: normal 1rem sans-serif;
	text-align: center;
	color: gray;
	page-break-inside: avoid;
	direction: ltr;
}
/*Verse numbers*/
.vn {
	font-family: 'rb-icons', sans-serif;
	font-size: .5em;
	color: var(--set-color);
}
/* Last sentence*/
.ls {
	color: var(--set-color);
}
/*Paragraph anchor button*/
.pa {
	margin-left: 1rem;
	padding: 3px 8px;
	color: var(--set-color);
	border: 1px solid var(--set-color);
	border-radius: var(--brs);
	cursor: pointer;
	user-select: none;
	outline: none;
}
.pa:hover {
	color: var(--set-color);
	border-color: var(--set-color);
}
.overlay {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .7);
	opacity: 0;
}
#close_popup_btn {
	color: gray;
}
#close_popup_btn:hover {
	color: var(--set-color);
}
.overlay.open {
	display: block;
	opacity: 1;
}
.popup {
	position: relative;
	width: 90%;
	max-width: 700px;
	margin: 60px auto;
	padding: 1rem;
	background-color: white;
	border-radius: var(--brs);
}
#program_info_content {
	max-height: 70vh;
	margin-top: 2rem;
	overflow-y: auto;
}
.popup h3, .popup h4 {
	margin: 1em 0;
	color: var(--set-color);
}
.popup p {
	margin-bottom: 1rem;
}
.popup a {
	text-decoration: none;
}
.ul {
	margin: 1rem 0;
	padding-left: 2rem;
	list-style-type: disc;
	color: var(--set-color);
}
.ul li {
	margin-bottom: .8rem;
	line-height: 1.4;
}
footer {
	clear: both;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: var(--max-width);
	margin: 0 auto;
	padding: 30px 5px;
	background-color: var(--nsbc);
	color: white;
	font-family: sans-serif;
	text-align: center;
}
footer a {
	text-decoration: none;
	color: white;
}
.logo {
	padding: 5px;
	background-color: var(--set-color);
	color: white;
	border-radius: 50%;
	font-size: 1rem;
	vertical-align: middle;
	line-height: 2;
}
#loading_overlay {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--theme-color);
	z-index: 200;
	opacity: 1;
	visibility: visible;
	transition: 1s;
}
#loading_content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	color: white;
	text-align: center;
}
#loading_content h3,
#loading_content p
 {
	margin-bottom: 1rem;
}
.tabcontent {
	display: none;
}
.tabcontent.open {
	display: block;
}
.tabcontent span {
	display: inline-block;
}
em {
	font-style: normal;
	color: var(--set-color);
}
@media screen and (min-width: 768px) {
	#ismi_azam span {
	}
}
@media print {
	.container {
		display: block;
		border: none;
	}
	.arabic {
		margin-bottom: 1rem;
	}
	#nav_top {
		display: none;
	}
}

hr {
    background: url('/images/flower.png') no-repeat top center;
    background-size: contain;
    display: block;
    height: 25px;
    border: 0;
    position: relative;
}
hr:before,
hr:after {
    content: '';
    display: block;
    position: absolute;
    height: 25px;

}
hr:before {
    left: 0;
    right: 50%;
    margin-right: 10px;
    background: url('/images/flower.png') no-repeat top center;
    background-size: contain;
}
hr:after {
    right: 0;
    left: 50%;
    margin-left: 10px;
    background: url('/images/flower.png') no-repeat top center;
    background-size: contain;
}